[Unit]
Description=Gravity bridge orchestrator
Requires=network.target

[Service]
Type=simple
TimeoutStartSec=10s
Restart=always
RestartSec=10
ExecStart=/usr/bin/gbt orchestrator --fees "0ugraviton"
Environment="HOME=/root"

[Install]
WantedBy=default.target