name: Validate Genesis and collect gentxs
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        run: |
          wget https://github.com/Gravity-Bridge/Gravity-Bridge/releases/download/v1.0.0/gravity-v0.1.5-linux-amd64
          chmod +x gravity-v0.1.5-linux-amd64
          sudo mv gravity-v0.1.5-linux-amd64 /bin/gravity
          gravity init test
          mkdir $HOME/.gravity/config/gentx
          cp ./genesis.json $HOME/.gravity/config/
          cp ./gentx/* $HOME/.gravity/config/gentx/
      - name: Validate Genesis
        run: gravity validate-genesis
      - name: Collect Gentxs
        run: gravity collect-gentxs